.main-chat
  .main-chat_grpup_header
    .main-chat_grpup_header_left_box
      .main-chat_grpup_header_left_box_group
        =@group.name
      .main-chat_grpup_header_left_box_member
        member:
        .main-chat_grpup_header_left_box_member_list
          -@group.users.each do |user|
            =user.name
    = link_to "edit" do
      .main-chat_grpup_header_edit_btn
        Edit

  .main-chat_messages
    = render @messages


  .main-chat_form
    = form_for [@group, @message], html: {class: "main-chat_form_new_message"} do |f|
      = f.text_field :content, class: 'main-chat_form_new_message_box', placeholder: 'type a message'
      .main-chat_form_new_message_image
        = f.label :image, class: 'main-chat_form_new_message_image_label' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'main-chat_form_new_message_image_label_file'
      = f.submit 'Send', class: 'main-chat_form_send_btn'

